{% extends 'base.html.twig' %}
{% block body %}
    <center>
        <div class="form">
            <h3>Réinitialisation du mot de passe</h3>
            {{ form(form) }}
        </div>
    </center>
{% endblock %}