{% extends 'front.html.twig' %}
{% block body %}
    <center>
        <div class="form">
            {% for message in app.flashes('success') %}
                <div class="alert-success" style="padding: 10px; color: #0b2e13">
                    {{ message }}
                </div>
            {% endfor %}
            <h3>Réinitialisation du mot de passe</h3>
            {{ form(form) }}
        </div>
    </center>
{% endblock %}