<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <p>Bonjour {{ c.prenomSignataire }} {{ c.nomSignataire }},</p>
    <p>Nos algorithmes ont identifié une tendance baissière du marché SPOT en corrélations à votre objectif.</p>
    <p>Votre ordre d’achat expirera à 15h et est consultable sur votre espace Etarget, </p>
    <br>
    <br>
        <a href="{{ url }}" style="padding: 10px; border: 1px solid black; background-color: #00c853; color: white; font-weight: bold">Consulter mon opportunité</a>
    <br>
    <br>
    <p>À très bientôt sur votre Espace Client ! </p>
    <p>ACCESS ENERGIES vous remercie de votre confiance.</p>
    <p><b>L’énergies est un budget réduisons-le !</b></p>
</body>
</html>