<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="/imagesSites/icon.png" />
    <!-- Custom styles for this template -->
    <link href="/assets/css/simple-sidebar.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <title>{% block title %}Accessenergie{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
</head>
<body class="login">
        <div class="container-fluid">
            {% block body %}

            {% endblock %}
        </div>
{% block javascripts %}
{% endblock %}
</body>

</html>
