{% extends 'connexion.html.twig' %}
{% block stylesheets %}
    <style>
        .f{
            background-color: white;
            width: 35%;
            padding: 20px;
            border-radius: 10px;
            margin-top: 10%;
        }
    </style>
{% endblock %}
{% block body %}
    <div class="f">
        <h2>Définir votre mot de passe</h2>
        <hr>
        {{ form(form) }}
    </div>
{% endblock %}